<div class="col-xs-10 col-xs-offset-1">

    <form [formGroup]="formGroup" (ngSubmit)="onSignup(formGroup.value)">
        <div class="form-group">
                <h3 style="margin:5px">Sign Up Page</h3>
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
          <button class="btn btn-primary" type="submit">Sign UP</button>
      </form>
</div>

  